
@{
    ViewBag.Title = "Electronic Detective - How To Play";
}

<div class="container">
    <!-- Screen Title-->
    <div class="row">
        <div class="col-sm-12 bg-primary text-center">
            <h1>How To Play</h1>
        </div>
    </div>

    <!-- Blank row -->
    <div class="row">
        <div class="col-sm-12">
            <br />
            <br />
        </div>
    </div>

    <!-- Table of Contents-->
    <div class="row">
        <div class="col-sm-12 text-muted bg-warning">
            <h1>Table of Contents</h1>
            <h2><a href="#GameObject" class="text-muted">Object of the Game</a></h2>
            <h2><a href="#Difficulty" class="text-muted">Levels of Difficulty</a></h2>
            <h2><a href="#HowGamePlays" class="text-muted">How the Game Plays</a></h2>
            <h2>The Case Fact Sheet</h2>
            <h2>How to Use the Interface</h2>
            <h2>Keying in the Crime</h2>
            <h2>Questioning Suspects</h2>
            <h2>Solving the Crime</h2>
            <h2>Making an Accusation</h2>
            <h2>Summary of Rules</h2>
        </div>
    </div>

    <!-- Object of the Game -->
    <!-- link -->
    <div id="GameObject">
        <div class="row">
            <div class="col-sm-12">
                <br />
                <br />
            </div>
        </div>
    </div>

    <div>
        <div class="row">
            <div class="col-sm-12 bg-info">
                <h3 class="text-muted">Object of the Game</h3>
                <p class="lead">Be the first player to correctly solve the crime.</p>
            </div>
        </div>
    </div>

    <!-- Levels of Difficulty -->
    <!-- link -->
    <div id="Difficulty">
        <div class="row">
            <div class="col-sm-12">
                <br />
                <br />
            </div>
        </div>
    </div>

    <div>
        <div class="row">
            <div class="col-sm-12 bg-info">
                <h3 class="text-muted">Levels of Difficulty</h3>
                <p>
                    The game can be played at three different "levels of difficulty":
                    <ol>
                        <li>"Master Detective" (the most difficult)</li>
                        <li>"Sleuth" (less difficult)</li>
                        <li>"Gumshow" (least difficult)</li>
                    </ol>
                </p>

                <p class="lead">
                    One level of difficulty is chosen for each game.  At level 1 only one private question is allowed when questioning a suspect.  At level 2 the player can ask two private questions when questioning a suspect.
                    At level 3 the player is allowed to ask 3 private questions when questioning a suspect.  Private questions are explained in the "Questiong Suspects" section.
                </p>
            </div>
        </div>
    </div> 
       
    <!-- How the Game Plays -->
    <!-- link -->
    <div id="HowGamePlays">
        <div class="row">
            <div class="col-sm-12">
                <br />
                <br />
            </div>
        </div>
    </div>

    <div>
        <div class="row">
            <div class="col-sm-12 bg-info">
                <h3 class="text-muted">How The Game Plays</h3>

                <!-- General Information -->
                <p class="lead">
                    While Electronic Detective is great fun to play, you must fully understand the game's instructions and rules.  To help you the following is a condensed description
                    of how the game plays.
                </p>

                <p class="lead">
                    Think of Electronic Detective as a mystery which can be solved by one person alone or by several players interacting with each other.  Currently this version is a one player game.
                </p>

                <p class="lead">
                    The "setting" is 20 characters together in a large city. One is murdered and the remaining 19, now Suspects, flee to different parts of the city. The object of the mystery is to find
                    which one of the 19 Suspects is the Murderer.
                </p>

                <p class="lead">
                    Players use the web site interface to "grill" Suspects for two kinds of information.
                </p>

                <p class="lead">
                    <ul>
                        <li>An <u>Alibi</u> tells where the Suspect fled and (sometimes) who else was there.</li>
                        <li><u>"Private Questions"</u> (from each Suspect's Card) provide who else was there.</li>
                    </ul>
                </p>

                <p class="lead">
                    Here are the pieces to the mystery.

                    <ol>
                        <!-- 1. characters -->
                        <li>Characters: 10 males (numbered 1-10) and 10 females (numbered 11-20). Numbers are on the Suspect Cards.<br /><br /></li>

                        <!-- 2. Places -->
                        <li>
                            Six "places":<br /><br />
                            <div class="row">
                                <div class="col-sm-2 bg-info">
                                    A. Art Show<br />
                                    B. Box at Theater<br />
                                    C. Card Party
                                </div>
                                <div class="col-sm-2 bg-info">
                                    D. Docks<br />
                                    E. Embassy<br />
                                    F. Factory<br />
                                </div>
                                <div class="col-sm-8 bg-info">

                                </div>
                            </div>
                            <br />
                        </li>

                        <!-- 3. Locations -->
                        <li>
                            A different "location" for each of the places (3 on the West Side and 3 on the East Side):<br /><br />
                            <div class="row">
                                <div class="col-sm-2 bg-info">
                                    <u>West Side</u><br /><br />
                                    Uptown<br />
                                    Midtown<br />
                                    Downtown<br />
                                </div>
                                <div class="col-sm-2 bg-info">
                                    <u>East Side</u><br /><br />
                                    Uptown<br />
                                    Midtown<br />
                                    Downtown<br />
                                </div>
                                <div class="col-sm-8 bg-info">

                                </div>
                            </div>
                            <br />
                            Note: The location of each place will change each crime.
                            <br /><br />
                        </li>

                        <!-- 4. Suspects Fled -->
                        <li>
                            Suspects will have fled as follows:<br /><br />
                            <ul>
                                <li>four of the locations will have four Suspects;</li>
                                <li>one location will have three Suspects;</li>
                                <li>one location will have the victim only.</li>
                                <li>the Murderer will never be where either weapon is hidden, nor where the body was found.</li>
                            </ul>
                            <br />
                        </li>

                        <!-- 5. Suspects locations -->
                        <li>
                            Suspects will be located as follows:<br /><br />
                            <ul>
                                <li>there are never more than two males <u>and</u> two females at any one location: <u>and</u></li>
                                <li>the two Suspects of the <u>same sex</u> at any location will always have one <u>odd</u> number and <u>one</u> even number.<br /><br /></li>
                            </ul>
                        </li>

                        <!-- 6. Suspect Characteristics -->
                        <li>
                            Thus each Suspect has a different combination of "characteristics:"<br /><br />

                            <ul>
                                <li>sex = male or female;</li>
                                <li>location (where he or she fled) - West Side or East Side <u>and</u> Uptown, Midtown, or Downtown;</li>
                                <li>number - odd or even.</li>
                            </ul>
                            <br />
                        </li>

                        <!-- 7. solving the crime -->
                        <li>
                            <u>To solve the crime you must do two things:</u><br /><br />
                            <ul>
                                <li>find the "Murder Facts" - the particular combination of characteristics which define the Murderer; <u>and</u></li>
                                <li>find the one Suspect who fits these Murder Facts (for example, and odd-numbered male, located East Side and Midtown).</li>
                            </ul>
                            <br />
                        </li>
                    </ol>

                    <!-- important things to remember -->
                <p class="lead">There are two important things you must remember.</p>

                <ol>
                    <!-- location of a place -->
                    <li>
                        The location of a "place" (the Art Show, etc.) will help you identify the Murderer. For example, the Murderer is a male and you have deduced that:<br /><br />
                        <ul>
                            <li>he's located East, Midtown; <u>and</u></li>
                            <li>the Card Party is East Side, Midtown; and </li>
                            <li>Suspects 5 and 8 are at the Card Party; <u>then</u></li>
                            <li>logical reasoning tells you that either Suspect 5 or 8 is the Murderer.</li>
                            <li>You most now narrow it down to one person.</li>
                        </ul>
                        <br />
                    </li>

                    <!-- determining which suspect is the Murderer -->
                    <li>
                        To determine which Suspect is the Murderer, you must find if the finger-prints on the Murder Weapon belong to an odd-numbered or even-numbered Suspect. To do this you must know the following:<br /><br />
                        <ul>
                            <li>if the Murder Weapon is a .38 or .45:</li>
                            <li>where the Murder Weapon is located;</li>
                            <li>who was at that location.</li>
                        </ul>
                        <br />
                    </li>
                </ol>
                <p class="lead">
                    <u>
                        Because, only a Suspect of the same sex as the Murderer, who was at the location of the Murder Weapon, can tell you whether the fingerprints
                        on the Murder Weapon belong to an odd or even numbered suspect.
                    </u> No other Suspect can answer this question. See the section on "Solving the Crime" point number 4.
                </p>
                <p class="lead">You will learn how to find and use all of this information by reading the information below.</p>
                </p>

            </div>
        </div>
    </div>
</div>

